# Top-most EditorConfig file
root = true

# Default settings (applies to all files unless overridden)
[*]
indent_style = space
end_of_line = lf
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 179


[*.md]
trim_trailing_whitespace = false

# Makefile (use tabs instead of spaces)
[Makefile]
indent_size = 4
indent_style = tab

[*.org]
indent_size = 8
indent_style = space

