[user]
  name = WeiTing1991
	email = 72130405+WeiTing1991@users.noreply.github.com
  signingkey = ~/.ssh/id_ed25519.pub

[url "git@github.com:"]
  insteadOf = https://github.com/

[gpg]
  format = ssh

[gpg "ssh"]
  allowSignWithFile = ~/.ssh/allowed_signers
	allowedSignersFile = /Users/weitingchen/.ssh/allowed_signers

[init]
  defaultBranch = main

[commit]
  gpgsign = true

[core]
  editor = nvim
  pager = diff-so-fancy | less --tabs=4 -RFX
  autocrlf = input

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[delta]
  side-by-side = false
  navigate = true
  line-numbers = true
  dark = true

[color]
  ui = true

; [color "diff"]
;     meta = "yellow"
;     frag = "cyan bold"
;     old = "#ff7b72 reverse"          # GitHub red with reverse
;     new = "#7ee787 reverse"           # GitHub green with reverse
;     whitespace = "red reverse"
;
; [color "diff-highlight"]
;     oldNormal = "#ff7b72 reverse"
;     oldHighlight = "#ffc0cb 52"       # Light pink on dark red
;     newNormal = "#7ee787 reverse"
;     newHighlight = "#c0ffc0 22"       # Light green on dark green
;
; [interactive]
;     diffFilter = diff-so-fancy --patch

[color "diff"]
    meta = "#f8f8f2"
    frag = "#bd93f9 bold"
    old = "#ff5555 reverse"           # Dracula red
    new = "#50fa7b reverse"           # Dracula green
    whitespace = "red reverse"

[color "diff-highlight"]
    oldNormal = "#ff5555 reverse"
    oldHighlight = "#ffb86c 52"       # Orange on dark red
    newNormal = "#50fa7b reverse"
    newHighlight = "#8be9fd 22"       # Cyan on dark green

[interactive]
    diffFilter = diff-so-fancy --patch
