[user]
	name = WeiTing Chen
	email = 
[init]
	defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@github.bath.ac.uk/"]
	insteadOf = https://github.bath.ac.uk
