[user]
	name = WeiTing1991
	email = WeiTing1991@users.noreply.github.com

[init]
	defaultBranch = main

[core]
  editor = nvim
  pager = delta

[url "git@github.com:"]
    insteadOf = https://github.com/

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[delta]
  side-by-side = false
  dark = true
  navigate = true
  line-numbers = true

[interactive]
  diffFilter = delta --color-only
