let mapleader = " "
set clipboard+=unnamed
set scrolloff=8
set number
set relativenumber
set ignorecase
set smartcase
set incsearch
set hlsearch

set surround
set commentary
set argtextobj
set exchange
set textobj-entire
set highlightedyank